In [4]:
# import pandas as pd 
# import dash pip install dash
# import dash_core_components as dcc
# import dash_html_components as html
# from dash.dependencies import Input, Output

In [3]:
# pip install dash==2.1.0

Collecting dash==2.1.0
  Downloading dash-2.1.0-py3-none-any.whl (7.4 MB)
Requirement already satisfied: Flask>=1.0.4 in c:\users\rober\anaconda3\lib\site-packages (from dash==2.1.0) (1.1.1)
Collecting dash-core-components==2.0.0
  Downloading dash_core_components-2.0.0-py3-none-any.whl (3.8 kB)
Collecting dash-html-components==2.0.0
  Downloading dash_html_components-2.0.0-py3-none-any.whl (4.1 kB)
Requirement already satisfied: plotly>=5.0.0 in c:\users\rober\anaconda3\lib\site-packages (from dash==2.1.0) (5.3.0)
Collecting dash-table==5.0.0
  Downloading dash_table-5.0.0-py3-none-any.whl (3.9 kB)
Requirement already satisfied: flask-compress in c:\users\rober\anaconda3\lib\site-packages (from dash==2.1.0) (1.8.0)
Requirement already satisfied: itsdangerous>=0.24 in c:\users\rober\anaconda3\lib\site-packages (from Flask>=1.0.4->dash==2.1.0) (1.1.0)
Requirement already satisfied: click>=5.1 in c:\users\rober\anaconda3\lib\site-packages (from Flask>=1.0.4->dash==2.1.0) (7.0)
Requirement already satisfied: Jinja2>=2.10.1 in c:\users\rober\anaconda3\lib\site-packages (from Flask>=1.0.4->dash==2.1.0) (2.11.1)
Requirement already satisfied: Werkzeug>=0.15 in c:\users\rober\anaconda3\lib\site-packages (from Flask>=1.0.4->dash==2.1.0) (1.0.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\rober\anaconda3\lib\site-packages (from plotly>=5.0.0->dash==2.1.0) (8.0.1)
Requirement already satisfied: six in c:\users\rober\anaconda3\lib\site-packages (from plotly>=5.0.0->dash==2.1.0) (1.14.0)
Requirement already satisfied: brotli in c:\users\rober\anaconda3\lib\site-packages (from flask-compress->dash==2.1.0) (1.0.9)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\rober\anaconda3\lib\site-packages (from Jinja2>=2.10.1->Flask>=1.0.4->dash==2.1.0) (1.1.1)
Installing collected packages: dash-core-components, dash-html-components, dash-table, dash
  Attempting uninstall: dash-core-components
    Found existing installation: dash-core-components 1.14.1
    Uninstalling dash-core-components-1.14.1:
      Successfully uninstalled dash-core-components-1.14.1
  Attempting uninstall: dash-html-components
    Found existing installation: dash-html-components 1.1.1
    Uninstalling dash-html-components-1.1.1:
      Successfully uninstalled dash-html-components-1.1.1
  Attempting uninstall: dash-table
    Found existing installation: dash-table 4.11.1
    Uninstalling dash-table-4.11.1:
      Successfully uninstalled dash-table-4.11.1
  Attempting uninstall: dash
    Found existing installation: dash 1.18.1
    Uninstalling dash-1.18.1:
      Successfully uninstalled dash-1.18.1
Successfully installed dash-2.1.0 dash-core-components-2.0.0 dash-html-components-2.0.0 dash-table-5.0.0
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd
import dash 
from dash import dcc
from dash import html
from dash.dependencies import Input, Output

In [9]:
app = dash.Dash(__name__)
app

In [10]:
import seaborn as sns
print(sns.get_dataset_names())

C:\Users\rober\anaconda3\lib\site-packages\seaborn\utils.py:384: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 384 of the file C:\Users\rober\anaconda3\lib\site-packages\seaborn\utils.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  gh_list = BeautifulSoup(http)

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'exercise', 'flights', 'fmri', 'gammas', 'geyser', 'iris', 'mpg', 'penguins', 'planets', 'taxis', 'tips', 'titanic']

In [13]:
df = sns.load_dataset('titanic')
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True